<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div *ngFor="let control of controls">
    <app-control [control]="control" [form]="form"></app-control>
  </div>

  <mat-card-actions>
    <button mat-raised-button type="submit" [disabled]="!form.valid">Save</button>
  </mat-card-actions>

</form>

<div *ngIf="payLoad">
  <p class="mat-h4">Saved the following values</p>
  <pre>{{payLoad}}</pre>
</div>