<div [formGroup]="form">

  <div [ngSwitch]="control.controlType">
    <mat-form-field *ngSwitchCase="'textbox'">
      <mat-label [attr.for]="control.key">{{control.label}}</mat-label>
      <input matInput [formControlName]="control.key" [id]="control.key | idguid" [value]="control.value"
        [type]="control.type" [placeholder]="control.label">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'checkbox'">
      <mat-label [attr.for]="control.key">{{control.label}}</mat-label>
      <input [formControlName]="control.key" [id]="control.key" [type]="control.controlType" [checked]="control.value">
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-label [attr.for]="control.key">{{control.label}}</mat-label>
      <select matNativeControl [id]="control.key" [formControlName]="control.key">
        <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
      </select>
    </mat-form-field>

    <mat-error>{{control.label}} is required</mat-error>
  </div>

</div>